---
layout: default
---

<div class="home">
  <h1>An open directory of the top blockchain startups and people in Texas.</h1>

</div>
  <div class="col-wrapper">

    <a href="{{ site.url }}/startups">
      <div class="col col-1">
        <h1>Startups</h1>
      </div>
    </a>

    <a href="{{ site.url }}/startups">
      <div class="col col-2">
        <h1>People</h1>
      </div>
    </a>

    <a href="{{ site.url }}/startups">
      <div class="col col-3">
      <h1>Events</h1>
      </div>
    </a>
  </div>
